# Fichiers à exclure du build Docker
**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/*.*proj.user
**/*.db
**/*.suo
**/.vs
**/bin
**/obj
**/node_modules
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/Services
